<div class="sorting-list">
	<div class="sorting-left">
		<select id="country1" onchange="" class="frm-field required sect">
			<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
			<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 18</option>
			<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 32</option>
			<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>
		</select>
	</div>
	<div class="sorting-text">Filtering By Categories</div>
	<div class="clearfix"></div>
</div>